extends content
    
block javascript
  script(type="text/javascript", src= "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
  script(type='text/javascript', src= "/js/heatmap.js")
  script(type='text/javascript', src= "/js/controls.js")
  script(type='text/javascript')
    var customers =!{JSON.stringify(locals.customers)}
    var stores =!{JSON.stringify(locals.stores)}
    var weighted = !{JSON.stringify(locals.weighted)}
    
block breadcrumb

block content
  div.row
    div#map-canvas.column.span7
      img.img-loading(src='/css/images/ajax-loader.gif')
    
    div.column.span5
      h3 Other Store##{locals.store} Heatmaps
      table.table.table-striped.table-bordered
        tr
          td
          td Transactions
          td Transactions Weighted
        tr
          td Beer
          td 
            a(href="/heatmap/store/#{locals.store}/segment/beer") Unweighted
          td
            a(href="/heatmap/store/#{locals.store}/segment/beer/true") Weighted
        tr
          td Wine
          td 
            a(href="/heatmap/store/#{locals.store}/segment/wine") Unweighted
          td
            a(href="/heatmap/store/#{locals.store}/segment/wine/true") Weighted
        tr
          td Deli
          td 
            a(href="/heatmap/store/#{locals.store}/segment/deli") Unweighted
          td
            a(href="/heatmap/store/#{locals.store}/segment/deli/true") Weighted
        tr
          td Bakery
          td 
            a(href="/heatmap/store/#{locals.store}/segment/bakery") Unweighted
          td
            a(href="/heatmap/store/#{locals.store}/segment/bakery/true") Weighted
        tr
          td All Segments
          td 
            a(href="/heatmap/store/#{locals.store}/segment/all") Unweighted
          td
            a(href="/heatmap/store/#{locals.store}/segment/all/true") Weighted

      h3 Other #{locals.segment} Heatmaps
      table.table.table-striped.table-bordered
        tr
          td
          td Transactions
          td Transactions Weighted
        tr
          td Store #1
          td
            a(href="/heatmap/store/1/segment/#{locals.segment}") Unweighted
          td
            a(href="/heatmap/store/1/segment/#{locals.segment}/true") Weighted
        tr
          td Store #2
          td
            a(href="/heatmap/store/2/segment/#{locals.segment}") Unweighted
          td
            a(href="/heatmap/store/2/segment/#{locals.segment}/true") Weighted
        tr
          td Store #3
          td
            a(href="/heatmap/store/3/segment/#{locals.segment}") Unweighted
          td
            a(href="/heatmap/store/3/segment/#{locals.segment}/true") Weighted
        tr
          td Store #4
          td
            a(href="/heatmap/store/4/segment/#{locals.segment}") Unweighted
          td
            a(href="/heatmap/store/4/segment/#{locals.segment}/true") Weighted
        tr
          td Store #5
          td
            a(href="/heatmap/store/5/segment/#{locals.segment}") Unweighted
          td
            a(href="/heatmap/store/5/segment/#{locals.segment}/true") Weighted
        tr
          td All Stores
          td
            a(href="/heatmap/store/all/segment/#{locals.segment}") Unweighted
          td
            a(href="/heatmap/store/all/segment/#{locals.segment}/true") Weighted    

  div.row
    span.btn.controls-toggle Visualizer Controls
      i.icon-cog
    
    div.controls-wrap.well
      div.slider-wrap
        span.slider-title opacity
        div#slider-opacity.slider
        span#display-opacity.slider-display 0.9
      
      div.slider-wrap
        span.slider-title maxIntensity
        div#slider-maxIntensity.slider 
        span#display-maxIntensity.slider-display 100
      
      div.slider-wrap
        span.slider-title radius
        div#slider-radius.slider 
        span#display-radius.slider-display 10